<div class="container">
  <div class="row">

    <div class="col-12">

      <label>Nome:</label>
      <input type="text" class="form-control" #nome>
      <label>Link:</label>
      <input type="text" class="form-control" #link>
      <label>Immagine:</label>
      <input type="text" class="form-control" #immagine>

      <button class="btn btn-success mt-2"
      (click)="addRecensione(nome, link, immagine)">Aggiungi</button>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <app-recensione
      *ngFor="let recensione of recensioni"
      [singolaRecensione]="recensione"
      ></app-recensione>
    </div>
  </div>
</div>
