<!-- 1.Campo Mail (controllil: non vuoto e di tipo mail) -->
<!-- 2.Dropdown che permette all'utente di sottoscrivere 3 abbonamenti: Base, Premium, Gold. Gold deve essere di default
  3. Campo Password, non vuoto
  4. Pulsante Submit

  5.Mostra un messaggio di errore se il form non è valid.
  6. Mostra un messaggio per ogni input se invalid e colora il bordo del campo input
  7. Stampa i valori del tuo form-->
  <div class="container">
  <h2>Form da compilare e validare</h2>
  <div class="row">
    <div class="col-12">

      <form #signUpForm = "ngForm" >



      </form>

    </div>
  </div>
</div>
