<div class="row">
  <div class="col-12">

    <h2>Aggiungi una nuova lezione o un nuovo schema Lezione</h2>

    <label>Nome Lezione</label>
    <input type="text" class="form-control" [(ngModel)] = "newNomeLezione">

    <label>Contenuto</label>
    <input type="text" class="form-control" [(ngModel)] = "newDescLezione">

    <br>

    <button class="btn btn-primary m-2"
            (click)="onAddTeorica()">Aggiungi Lezione Teorica</button>


    <button class="btn btn-success m-2"
            (click)="onAddFrontale()">Aggiungi Lezione Frontale</button>

  </div>

  <p *ngIf="avviso">
    {{avviso}}
  </p>

</div>




<!-- <h1>Esempio con Local Reference</h1> -->
