<h1>Lista dei computers</h1>

<p>Pulsante con condizione</p>
<button [disabled]="!permessoAggComputer">Aggiungi Computer</button>

<!-- Property Binding -->
<p [innerText]="permessoAggComputer"></p>

<!-- String Interpolation -->
<p> {{permessoAggComputer}}</p>

<!-- event BINDING -->
<h1>Event Binding</h1>

<button
[disabled]="!permessoAggComputer"
(click)="onCreaComputer()">
Aggiungi Computer
</button>

<!-- EVENT BINDING CON PARAMETRI -->

<h1>Event Binding con parametri</h1>
<label>Nome PC:</label>
<input
type="text"
(input)="onModificaComputer($event)">
<!-- ATT: $event mi permette di riceve tutto l'evento incluso il suo oggetto dom sul quale viene scatenato -->

{{nomeComputer}}


<!-- Two-Way Databinding -->
<div class="dimensioni">
  <h1>Two Way Databinding</h1>
<label for ="nomeComputer"> Nome Computer</label>
<input type="text" [(ngModel)] = "nomeComputer2">

<p>IL nome del nuovo PC è: {{nomeComputer2}} </p>
</div>


<!-- *ngFor direttiva Built in -->
<div>
  <h1>Lista Computers</h1>
  <ul *ngFor="let comp of computers" >
    <li  >{{comp}}</li>
  </ul>
</div>

<hr>

<!-- Posso ciclare direttamente su un component mostrando il template dello stesso  -->

<h1>ngFor su component Computer</h1>

<app-computer *ngFor="let computer of computers"></app-computer>
