<div class="row mt-4">
  <div class="col-12">
    <h3>Stai Modificando {{server.nome}} </h3>

    <div class="mb-3">
      <label for="nome">Nome Server:</label>
      <input type="text" id="nome" class="form-control"
      value="{{server.nome}}"
      #nomeServer>
    </div>

    <div class="mb-3">
      <label for="status">Status: </label>
      <select name="status" id="status" class="form-control"
      #statusServer>
        <option value="online">Online</option>
        <option value="offline">Offline</option>
      </select>
    </div>


    <button class="btn btn-primary" (click) ="onAggiornaServer(nomeServer.value, statusServer.value)" >
      Modifica
    </button>

  </div>
</div>
