<!-- String Interpolation -->
<h1>{{title}}</h1>
<p>{{descrizione}}</p>
<p>La classe è composta da {{numStudent}} studenti</p>
<p>{{pausa | uppercase}}</p>
<p>{{ 3 + 6 }}</p>
<p>{{ 10 > 0 ? "Vero": "Falso"}}</p>
<p>Il mio docente di chiama {{ docente.nome }} e insegna {{docente.materia}}</p>
<p>{{'Computer'}}</p>

<hr>
<!--
<div class="dimensioni">
  <app-primo></app-primo>
</div> -->
<!--
<div class="dimensioni">
  <app-secondo>

    <!- - <app-studente></app-studente>  NOOOOOOO- ->
  </app-secondo>
</div> -->

<!-- <br>

<div class="dimensioni">
  <app-studente></app-studente>
</div> -->


<div class="dimensioni">
  <app-computer></app-computer>
</div>

<div class="dimensioni">
  <app-computers></app-computers>
</div>

