<h1>Esercizio 2</h1>
<ul>
  <li>Costruisci un campo input che aggiorni la propr "username" attraverso il principio del two-way databinding</li>
  <li>Stampa della pagina il valore della prop in due modi : string interpolation e property binding</li>
  <li>Aggiungi un pulsante, questo resetterà il campo input solo se il campo NON è vuoto. Se il campo è vuoto il pulsante non è cliccabile</li>
  <li>Verificare il funzionamento del two-way datbinding. Come fa funzionare ? Quali sono gli import necessari ?</li>
</ul>
