

  <p>servers works!</p>

  <h2>Lista server</h2>
  <app-server></app-server>

  <h2>Modifica Server</h2>
  <app-edit-server></app-edit-server>

  <!-- Voglio renderizzare il mio singolo server per cui devo cambiare la rotta in app.routinModule -->
  <!-- <router-outlet></router-outlet> -->

  <!-- Esempio con pulsanti su rotta -->
  <!--
    <button class="btn btn-warning m-3">
      <a href="#" routerLink="./server">
        Mostra singolo Server
      </a>
    </button>
    <button class="btn btn-danger m-3">
      <a href="#" routerLink="./edit">
        Modifica Server
      </a>
    </button>
   -->
