<div class="container">
  <div class="row">
    <div class="col-12">

      <!-- Non posso avere due direttive built-in nello stesso punto -->
      <!-- <ul class="list-group">
        <li *ngFor="let number of numbers"
            *ngIf="number % 2 == 0">
          {{number}}
        </li>
      </ul> -->

      <ul class="list-group">
        <div *ngIf="soloPari">
          <li class="list-group-item"
          [ngClass]="{pari: number % 2 == 0 }"
          [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow': 'transparent'}"
          *ngFor="let number of numbers">
          {{number}}
          </li>
        </div>
      </ul>

      <hr>


      <h2 appHighlightBase>Applico sfondo con una mia Directive</h2>

      <h2 appHighlightIntermedio>Directive Intermedio</h2>

      <h2 appHighlightAvanzato>Directive Avanzato</h2>

      <h2 appHighlightAvanzato2>Directive Avanzato 2</h2>

      <h2 appHighlightAvanzato3
      [coloreDef]="'yellow'"
      [coloreHigh]="'purple'">Directive Avanzato 3</h2>


      <hr>

      <h1>Switch</h1>
      <div [ngSwitch] = "value">
        <p *ngSwitchCase="5"> Il value è di 5</p>
        <p *ngSwitchCase="10"> Il value è di 10</p>
        <p *ngSwitchCase="100"> Il value è di 100</p>
        <p *ngSwitchCase="1000"> Il value è di 1000</p>
        <p *ngSwitchDefault>Non esiste il value corrispondente</p>
      </div>

    </div>
  </div>
</div>
