<button (click)="onPrendiUtenti()">Clicca per ricevere dati</button>

<button (click)="onCreaUtente('Anna', 'Verdi')">Crea User Dario</button>

<button (click)="onPrendiMieiUtenti()">REcupera Miei</button>

<br>

<button (click)="onClearSingolo('-N4k_tUXatADTCyErTg3')">Cancella Anna</button>

<br>

<button (click)="onClearUtenti()">Cancella tutti gli Utenti</button>


<!-- Crea un form per aggiungere un utente, stampa la lista degli utenti, un pulsante per rimuoverli tutti, un pulsante per rimuoverli singolarmente -->
