<!-- <p>Ciao {{nome}} {{cognome}}, hai {{eta}} anni </p> -->

<!-- <p>Ciao {{persona.nome}} {{persona.cognome}}, hai  {{persona.eta}} anni </p> -->

<ul>
  <li *ngFor="let nome of nomi">
    {{nome}}
  </li>
</ul>

<!-- <p>Prova a mettere in Input più proprietà, renderizza queste proprietà nell'app component</p>

<p>Fondi quest proprietà in un oggetto e renderizza questo stesso
  Bonus: trasferisci in una classe esterna la definizione dell'oggetto stesso, con un file .model.ts
</p>

<p>Prova a passare direttamente un array di stringhe</p>

<p>Inserisci, dove vuoi degli alias</p> -->
