<div class="container">

  <app-dashboard></app-dashboard>


  <h2>Lista lezioni</h2>

    <app-lezione-element
    *ngFor="let lezione of lezioni"
    [nomeLezione] = "lezione"></app-lezione-element>

  </div>




  <hr>
  <hr>
  <h1>Qui sotto ci sono gli esempi singoli </h1>

  <!-- INPUT con App-prova-Input -->
  <div class="container">
    <h1>ESEMPIO INPUT</h1>
    <h2>Esempio con singola string</h2>
    <!-- FAre esempio senza oggetto ma solo con una stringa -->
    <!-- <app-prova-input
    [nome]="nomeDocente"></app-prova-input> -->

    <app-prova-input
    *ngFor="let nomeDocente of nomiDocenti"
    [nome]="nomeDocente"></app-prova-input>

    <!-- UN Input alla volta -->
    <!-- <app-prova-input
    [nome] = "nomeDoc"
    [cognome] = "cognomeDoc"
    [eta] = "etaDoc"></app-prova-input> -->

    <!-- Un oggetto in input -->
    <!-- <app-prova-input
    [persona]="docente"></app-prova-input>

    <app-prova-input
    [persona]="studente"> </app-prova-input> -->

    <!-- Array in Input -->

    <!-- <app-prova-input
    [nomi] = "nomiDocenti"></app-prova-input> -->

  </div>


  <div class="container">
    <h1>Esempio OutPUT</h1>
    <!-- Esempio con OUTPUT, app-prova-output -->
    <app-prova-output
    (informazione)="onReciveInfo($event)"
    (dati)="onRiceviDato($event)"></app-prova-output>

    <!-- <app-prova-output
    (dati)="onRiceviDato($event)"></app-prova-output> -->
  </div>
