<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <label for="name">Nome Account </label>
      <input type="text">
    </div>
    <div class="mb-3">
      <label for="tipo">Tipo</label>
    </div>
    <div class="mb-3">
      <select #status>
        <option value="Active">Active</option>
        <option value="Inactive">Inactive</option>
        <option value="Hidden">Hidden</option>
      </select>
    </div>

    <button class="btn btn-primary">Aggiungi Account</button>
  </div>
</div>
